// Déclaration des variables
$primary-color: #2c3e50;
$accent-color: #00bc77;
$background-color: #12002b;
$evidence-color: #ffffff;

// Mixin pour les liens de navigation
@mixin nav-link {
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

// Mixin pour les boutons
@mixin button-style {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $accent-color;
  background-color: $accent-color;
  color: $evidence-color;
}

// Application des styles
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary-color;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.bg-dark,
.bg-dark-login {
  background-color: $background-color;
  min-height: 100vh;
  margin-bottom: -100px;
}

.bg-dark {
  padding-bottom: 100px;
}

.bg-dark-login {
  padding-bottom: 160px;
}

.footer {
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
  background-color: $evidence-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.header {
  background-color: $evidence-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  padding-top: 5px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url("../assets/img/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: $evidence-color;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid $accent-color;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-button {
  @include button-style;
}

.sign-in-content {
  display: block;
  position: relative;
  top: 100px;
  box-sizing: border-box;
  background-color: $evidence-color;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-edit-container,
.edit-button-container {
  width: 315px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 15px;
}
.input-edit {
  width: 150px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #f4f5c9;
  border: solid 1px #0a0215;
  border-radius: 3px;
}
.edit-button-container {
  width: 165px;
}
.button-save,
.cancel-button {
  width: 90px;
  border: solid 1px #664891;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #0a0215;
  color: #fff;
  font-size: 1.2em;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: $evidence-color;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
  padding-top: 15px;
}

.edit-button {
  border-color: $accent-color;
  background-color: $accent-color;
  color: $evidence-color;
  font-weight: bold;
  padding: 10px;
}

.user-profile {
  line-height: 1.3em;
  color: $evidence-color;
  padding-bottom: 35px;
  padding-top: 90px;
}

.transaction-button {
  @include button-style;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}

.user-icon {
  width: 17px;
  height: 17px;
  vertical-align: top;
  margin-top: 1px;
  margin-right: 7px;
}

.user-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 5px;
  pointer-events: none;
}

.sign-out-text {
  font-size: 1.1em;
}

.sign-out-icon {
  font-size: 1.1em;
  margin-left: 15px;
  margin-right: 10px;
}

.sign-out {
  text-decoration: none;
}

.sign-out:hover .sign-out-text {
  text-decoration: underline;
}

.sign-out:hover .user-name,
.sign-out:hover .user-icon {
  text-decoration: none;
}

.user-info {
  display: inline-block;
}

p.error-message {
  background-color: rgb(224, 75, 75);
  color: $evidence-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;

  span {
    font-size: 0.9em;
  }

  a:link,
  a:active,
  a:visited {
    background-color: $primary-color;
    color: $evidence-color;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
  }
  a:hover {
    background-color: $accent-color;
  }
}

.error-404 {
  display: flex;
  font-size: 7em;
  font-weight: 900;
  line-height: 90px;
  padding-top: 200px;
  color: $accent-color;
  max-width: 300px;
}
